/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
  padding: 0;
  margin: 0;
}

/* kleuren */

:root {
  --top-background-color:#000;
  --footer-background-color:#faf7f3;
  
  --white-text:#fff;
}

/* fonts */

body {
  font-family: 'proxima-nova',sans-serif;
}





/* temp */

nav>ul {
  display: flex;
}

body>main>section {
  display:flex;
  
}

header>p {
  position: sticky;
  background-color: var(--top-background-color);
  color: var(--white-text);
}

li {
  list-style-type: none;
}

footer {
  background-color: var(--footer-background-color);
}